* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* min-height: 97vw; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: green;
  background-color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}
header a,
header a:visited,
header a:hover,
header a:active {
  color: white;
  text-decoration: none;
  font-weight: 500;
  /* font-style: italic;   */
  /* font-size: 2rem; */
}
/* header starts */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 97vw;
}
.logo {
  margin: auto;
}
.logo img {
  max-width: 200px;
}

.kart {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.hamburger-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.hamburger-menu:hover {
  cursor: pointer;
}

.links {
  display: none;
  text-align: center;
}
.links > a {
  margin: 5% 0;
}

.background {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: block;
}

@media (min-width: 800px) {
  /* navigation begin */

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    /* font-size: 1px; */
  }
  .links a {
    font-size: 1.5rem;
  }
  .logo {
    margin: 0;
  }
  .hamburger-menu {
    display: none;
  }
  .kart {
    position: unset;
    display: flex;
    flex-direction: row;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-content {
    text-align: center;
  }

  .account-dropdown {
    display: none;
  }
  .kart:hover .account-dropdown {
    display: flex;
  }
  .active {
    margin: 0 15px;
  }
  /* navigation end */
}

/* header ends */
